body{
    background-color: darkslategray;
    color: white;
    text-align: center;
    font-family: Roboto, Arial, Heveltic, San-serif;
}

p{
    font-size: 18px;
}

h1{
    color:rgb(196, 144, 32)
}

h2, h3{
    color: orange;
}

header{
    border-bottom: 1px solid gray;
}

.container{
    text-align: justify;
    width: 60%;
    margin: 0 auto;
}

code{
    font-weight: bold;
    font-size: 18px;
}

footer{
    border-top: 1px solid gray;
    color: gray;
}

#nome-usuário{
    font-weight: bold;
}

.texto-inglês{
    font-style: italic;
}

@media screen and (max-width:420px){
    img{
        width: 100%;
        align: center;
    }
    p{
        font-size: 24px;
    }
}
